<%= simple_form_for(mood) do |f| %>
  <% if mood.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(mood.errors.count, "error") %> prohibited this mood from being saved:</h2>

      <ul>
      <% mood.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <p>How was your day?</p>
  <%= f.input :feeling, :as => :radio_buttons, :collection => Mood.feelings.keys.to_a %>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
