<p id="notice"><%= notice %></p>

<h1>Moods</h1>

<%= render 'form', mood: @mood %>

<h2>Graph</h2>

<div class="values">
    <% @moods_values.each do |day, value| %>
	<span class="value" data-mood="<%= value %>" data-date="<%= day %>"></span>
    <% end %>
</div>

<%= link_to 'Details', :controller => :moods, :action => :details %>
